{% extends "Viajes/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <h3> Formulario -- Buscar Ciudad</h3>

    <form action="/Viajes/buscar/" method="GET">
        <input type="text" name="ciudad" id="ciudad">
        <input type="submit" value="Buscar">


    </form>

    {% if pais %}
   
    <p> Información sobre: {{ciudad}}</p>
    
    <ul>
    {% for Destino in pais %}
        <li> Ciudad: {{Destino.ciudad}}</li>
        <li> Pais: {{Destino.pais}}</li>
    {% endfor %}
    </ul>

    {% endif %}
{% endblock %}