{% extends "Viajes/padre.html" %}

{% load static %}
    
{% block contenidoQueCambia %}
    
        <h3> Formulario -- Agregar Estadia</h3>
        
        {% if miFormulario3.errors %}
    
        <p style="color: red;"> Están mal los datos, revisar</p>
    
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
    
            <table>
                {{ miFormulario3.as_table }}
            </table>
    
            <input type="submit" , value="Enviar">
    
        </form>
{% endblock %}
