<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% extends "Viajes/padre.html" %}

{% load static %}
    
{% block contenidoQueCambia %}
      <!-- About-->
      <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">Sobre Nosotros</h2>
                    <p class="text-white-50">
                        Somos una empresa dedicada a garantizar la confianza y la seguridad en cada viaje, asegurando que usted y sus seres queridos disfruten de una experiencia inolvidable. Nuestro objetivo es permitirle liberarse de las tareas diarias y centrarse en lo que realmente importa: disfrutar al máximo.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="https://img.freepik.com/fotos-premium/bosques-montanas-nubes-tonos-grises_973064-1525.jpg" alt="..." />
        </div>
    </section>
     <!-- Projects-->
      <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'Viajes/assets/img/bg-masthead.jpg' %}" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Experiencia</h4>
                        <p class="text-black-50 mb-0">Tenemos mas de 50 hoteles por todo el mundo en donde cada uno tiene una mistica unica acorde con el pais en el que se hospede.</p>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'Viajes/assets/img/demo-image-01.jpg' %}" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Servicios</h4>
                                <p class="mb-0 text-white-50">Contamos con habitaciones de lujo y estandars en la cual cada una tiene una tematica unica por habitacion.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'Viajes/assets/img/demo-image-02.jpg' %}" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Actividades</h4>
                                <p class="mb-0 text-white-50">Los hoteles cuentan con salas comunes, en donde podra iteractuar con los demas huespedes. Tambien contamos con salas de juegos y con un staff grande en el que usted podra realizar diferentes propuestas de actividades y turismo por toda la zona y por la ciudad en la que se este hospedando.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup-->
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Suscribite si necesitas mas información!</h2>
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Email address input-->
                        <div class="row input-group-newsletter">
                            <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                            <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Notify Me!</button></div>
                        </div>
                        <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">Email requerido.</div>
                        <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email invalido.</div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3 mt-2 text-white">
                                <div class="fw-bolder">Formulario subido con exito!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

</body>
</html>