<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "Viajes/padre.html" %}

    {% load static %}
    
    {% block contenidoQueCambia %}
      <!-- About-->
      <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">Sobre Nosotros</h2>
                    <p class="text-white-50">
                        Somos una empresa dedicada a garantizar la confianza y la seguridad en cada viaje, asegurando que usted y sus seres queridos disfruten de una experiencia inolvidable. Nuestro objetivo es permitirle liberarse de las tareas diarias y centrarse en lo que realmente importa: disfrutar al máximo.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="https://img.freepik.com/fotos-premium/bosques-montanas-nubes-tonos-grises_973064-1525.jpg" alt="..." />
        </div>
    </section>
    
    {% endblock %}
</html>