<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "Viajes/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <div class="container custom-bg p-5">
        <div class="d-flex justify-content-center">
                
            <div class="d-flex flex-column">
                
                <h1> Listado de Clientes </h1>

                {% for cliente in clientes %}
                    <li> Nombre: {{cliente.nombre}} 
                        <p>
                            <a href="{% url 'ClienteDetalle' cliente.id %}"> Ver</a>
                            
                            <a href="{% url 'ClienteEditar' cliente.id %}"> Editar</a>

                            <a href="{% url 'ClienteEliminar' cliente.id %}"> Eliminar</a>

                        </p>
                    </li>
                {% endfor %}
                
                <a href="{% url 'ClienteCrear' %}" class="btn btn-primary">Crear Cliente</a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>