<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "Viajes/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <div class="container custom-bg p-5">
        <div class="d-flex justify-content-center">
                
            <div class="d-flex flex-column">     
                <h1> Listado de Clientes </h1>    
                    {% if clientes %}
                        {% for cliente in clientes %}
                        <div class="card">
                            <div class="card-body">
                                <li> Nombre: {{cliente.nombre}} 
                                    <p>
                                        <div class="btn-group">
                                            <a href="{% url 'ClienteDetalle' cliente.id %}" class="btn btn-primary"> Ver</a>
                                                    
                                            <a href="{% url 'ClienteEditar' cliente.id %}" class="btn btn-primary">Editar</a>

                                            <a href="{% url 'ClienteEliminar' cliente.id %}" class="btn btn-primary"> Eliminar</a>
                                        </div>
                                    </p>
                                </li>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <h2> No existen clientes todavia </h2>
                    {% endif %}
                    <a href="{% url 'ClienteCrear' %}" class="btn btn-primary">Crear Cliente</a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>