<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "Viajes/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <div class="container custom-bg p-5">
        <div class="d-flex justify-content-center">
                
            <div class="d-flex flex-column">
                
                <h1> Listado de Destinos </h1>

                {% for destino in destinos %}
                <div class="card">
                    <div class="card-body">
                        <li> Ciudad: {{destino.ciudad}} 
                            <p>
                                <div class="btn-group">
                                    <a href="{% url 'DestinoDetalle' destino.id %}" class="btn btn-primary"> Ver</a>
                                    
                                    <a href="{% url 'DestinoEditar' destino.id %}" class="btn btn-primary"> Editar</a>

                                    <a href="{% url 'DestinoEliminar' destino.id %}" class="btn btn-primary"> Eliminar</a>
                                </div>
                            </p>
                        </li>
                    </div>
                </div>
                {% endfor %}
                
                <a href="{% url 'DestinoCrear' %}" class="btn btn-primary">Crear Destino</a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>