<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "Viajes/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <div class="container custom-bg p-5">
        <div class="d-flex justify-content-center">
                
            <div class="d-flex flex-column">
                
                <h1> Eliminar Destino</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    
                    Estas seguro/a que queres eliminar el destino: Ciudad: {{destino.ciudad}} - Pais: {{destino.pais}} ??

                    <input type="submit" class="btn btn-primary" value="Eliminar">

                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>