<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "Viajes/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <h1> Eliminar Destino</h1>
    <form action="" method="POST">
        {% crsf_token %}
        
        Estas seguro/a que queres eliminar el destino: Ciudad: {{destino.ciudad}} - Pais: {{destino.pais}} ??

        <input type="submit" value="Eliminar">

    </form>
    
    {% endblock %}
</body>
</html>