<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "Viajes/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <div class="container custom-bg p-5">
        <div class="d-flex justify-content-center">
                
            <div class="d-flex flex-column">
                
                <h1> Listado de Estadias </h1>
                <h4> Fechas de inicio del viaje </h4>

                {% for estadia in estadias %}
                    <li> Fecha de inicio: {{estadia.fecha_de_inicio}} 
                        <p>
                            <a href="{% url 'EstadiaDetalle' estadia.id %}"> Ver</a>
                            
                            <a href="{% url 'EstadiaEditar' estadia.id %}"> Editar</a>

                            <a href="{% url 'EstadiaEliminar' estadia.id %}"> Eliminar</a>

                        </p>
                    </li>
                {% endfor %}
                
                <a href="{% url 'EstadiaCrear' %}" class="btn btn-primary">Crear Estadia</a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>