<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "Viajes/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}
    <div class="container custom-bg p-5">
        <div class="d-flex justify-content-center">
                
            <div class="d-flex flex-column">
                <div class="card">
                    <div class="card-body">
                        <h1> Detalle de la Estadia </h1>
                        <p> Fecha de inicio: <i>{{estadia.fecha_de_inicio}}</i> </p>
                        <p> Fecha de regreso: <i>{{estadia.fecha_de_regreso}}</i> </p>
                        <p> Residencia: <i>{{estadia.residencia}}</i> </p>
                        <p> Metodo de transporte: <i>{{estadia.metodo_de_transporte}}</i> </p>
                        <p>
                            <a href="{% url 'EstadiaLista' %}" class="btn btn-primary">Regresar</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>