<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'Viajes/padre.html' %}

    {% load static %}

    {% block contenidoQueCambia %}

    <h1>Editar perfil de {{usuario}}</h1>

    <form action="" method="POST">
        {% csrf_token %}

        <table>
            {{ mi_form.as_table }}
        </table>
        <a class="btn btn-primary" href="{% url 'CambiarPass' %}">Cambiar contraseña</a>
        <input type="submit" value="Actualizar">

    </form>

    {% endblock %}
</body>
</html>